In [58]:
import pandas as pd
import numpy as np

In [59]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000

In [60]:
df = pd.read_csv('Relatórios de Aulas.csv')

In [61]:
df.dtypes

Data                 object
CFC                  object
Horário              object
CPF do instrutor     object
Instrutor            object
CPF do aluno         object
Aluno                object
Categoria            object
Veículo              object
KM                   object
KM Inicial            int64
KM Final            float64
Biometria            object
Status               object
Periodo              object
dtype: object

In [62]:
df.shape

(446, 15)

In [63]:
df.nunique()

Data                 24
CFC                   1
Horário             299
CPF do instrutor      5
Instrutor             5
CPF do aluno         42
Aluno                42
Categoria             2
Veículo               6
KM                   39
KM Inicial          434
KM Final            432
Biometria             3
Status                4
Periodo               2
dtype: int64

In [64]:
df.head(1)

,Data,CFC,Horário,CPF do instrutor,Instrutor,CPF do aluno,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,Periodo
0,01/06/2020,CFC TONELLO,08:06 - 09:46,023.052.389-75,LUCIMAR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,A,QIO-1623,7,11703,11710.0,Biometria validada,Crédito da aula aceito pelo Detran,SEM TURNO

In [65]:
df['comeco_aula'] = df['Horário'].astype(str).str.slice(0,5)
df['final_aula'] = df['Horário'].astype(str).str.slice(-5)

In [66]:
df['comeco_aula'] = pd.to_datetime(df[['Data', 'comeco_aula']].agg(' '.join, axis=1), format='%d/%m/%Y %H:%M')
df['final_aula'] = pd.to_datetime(df[['Data', 'final_aula']].agg(' '.join, axis=1), format='%d/%m/%Y %H:%M')

In [67]:
df['tempo_aula'] = (df['final_aula'] - df['comeco_aula'])
df['n_aula'] = df['tempo_aula'].astype('timedelta64[m]')/50
df.head(2)

,Data,CFC,Horário,CPF do instrutor,Instrutor,CPF do aluno,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,Periodo,comeco_aula,final_aula,tempo_aula,n_aula
0,01/06/2020,CFC TONELLO,08:06 - 09:46,023.052.389-75,LUCIMAR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,A,QIO-1623,7,11703,11710.0,Biometria validada,Crédito da aula aceito pelo Detran,SEM TURNO,2020-06-01 08:06:00,2020-06-01 09:46:00,01:40:00,2.0
1,01/06/2020,CFC TONELLO,10:54 - 11:44,942.197.459-04,LEONIR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,B,QIO-1683,11,75929,75940.0,Backoffice aprovado,Crédito da aula aceito pelo Detran,SEM TURNO,2020-06-01 10:54:00,2020-06-01 11:44:00,00:50:00,1.0

In [68]:
df = df.drop(['CFC','CPF do instrutor', 'CPF do aluno', 'Periodo'], axis=1)
df = df.drop(['Data','Horário'], axis=1)

In [69]:
list(df.columns)

['Instrutor',
 'Aluno',
 'Categoria',
 'Veículo',
 'KM',
 'KM Inicial',
 'KM Final',
 'Biometria',
 'Status',
 'comeco_aula',
 'final_aula',
 'tempo_aula',
 'n_aula']

In [70]:
list(df['Instrutor'].unique())

['LUCIMAR TONELLO',
 'LEONIR TONELLO',
 'JEFERSON CLAUDIO DE ALMEIDA',
 'MOISES DIONATAS VANCINI',
 'MARILEI TELES DA SILVA']

In [71]:
intrutor = df['Instrutor'] == 'MOISES DIONATAS VANCINI'
categoria = df['Categoria'] == 'B'

cat = df[intrutor & categoria].copy()
cat.shape

(78, 13)

In [72]:
list(cat['Biometria'].unique())

['Biometria validada', 'Backoffice aprovado', nan]

In [56]:
cat[cat['Status'].str.find('Cancelada') == -1].shape[0]

77