In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000

In [3]:
df = pd.read_csv('Relatórios de Aulas.csv')

In [4]:
df.dtypes

Data                 object
CFC                  object
Horário              object
CPF do instrutor     object
Instrutor            object
CPF do aluno         object
Aluno                object
Categoria            object
Veículo              object
KM                   object
KM Inicial            int64
KM Final            float64
Biometria            object
Status               object
Periodo              object
dtype: object

In [5]:
df.shape

(446, 15)

In [6]:
df.nunique()

Data                 24
CFC                   1
Horário             299
CPF do instrutor      5
Instrutor             5
CPF do aluno         42
Aluno                42
Categoria             2
Veículo               6
KM                   39
KM Inicial          434
KM Final            432
Biometria             3
Status                4
Periodo               2
dtype: int64

In [7]:
df.head(1)

,Data,CFC,Horário,CPF do instrutor,Instrutor,CPF do aluno,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,Periodo
0,01/06/2020,CFC TONELLO,08:06 - 09:46,023.052.389-75,LUCIMAR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,A,QIO-1623,7,11703,11710.0,Biometria validada,Crédito da aula aceito pelo Detran,SEM TURNO

In [8]:
df['comeco_aula'] = df['Horário'].astype(str).str.slice(0,5)
df['final_aula'] = df['Horário'].astype(str).str.slice(-5)

In [9]:
df['comeco_aula'] = pd.to_datetime(df[['Data', 'comeco_aula']].agg(' '.join, axis=1), format='%d/%m/%Y %H:%M')
df['final_aula'] = pd.to_datetime(df[['Data', 'final_aula']].agg(' '.join, axis=1), format='%d/%m/%Y %H:%M')

In [10]:
df['tempo_aula'] = (df['final_aula'] - df['comeco_aula'])
df['n_aula'] = df['tempo_aula'].astype('timedelta64[m]')/50
df.head(2)

,Data,CFC,Horário,CPF do instrutor,Instrutor,CPF do aluno,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,Periodo,comeco_aula,final_aula,tempo_aula,n_aula
0,01/06/2020,CFC TONELLO,08:06 - 09:46,023.052.389-75,LUCIMAR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,A,QIO-1623,7,11703,11710.0,Biometria validada,Crédito da aula aceito pelo Detran,SEM TURNO,2020-06-01 08:06:00,2020-06-01 09:46:00,01:40:00,2.0
1,01/06/2020,CFC TONELLO,10:54 - 11:44,942.197.459-04,LEONIR TONELLO,099.038.689-95,ISMAEL LUCAS GABARDO,B,QIO-1683,11,75929,75940.0,Backoffice aprovado,Crédito da aula aceito pelo Detran,SEM TURNO,2020-06-01 10:54:00,2020-06-01 11:44:00,00:50:00,1.0

In [11]:
df = df.drop(['CFC','CPF do instrutor', 'CPF do aluno', 'Periodo'], axis=1)
df = df.drop(['Data','Horário'], axis=1)

In [12]:
list(df.columns)

['Instrutor',
 'Aluno',
 'Categoria',
 'Veículo',
 'KM',
 'KM Inicial',
 'KM Final',
 'Biometria',
 'Status',
 'comeco_aula',
 'final_aula',
 'tempo_aula',
 'n_aula']

In [13]:
list(df['Instrutor'].unique())

['LUCIMAR TONELLO',
 'LEONIR TONELLO',
 'JEFERSON CLAUDIO DE ALMEIDA',
 'MOISES DIONATAS VANCINI',
 'MARILEI TELES DA SILVA']

In [24]:
intrutor = df['Instrutor'] == 'MARILEI TELES DA SILVA'
categoria = df['Categoria'] == 'A'

cat = df[intrutor & categoria].copy()
cat.shape

(8, 13)

In [25]:
list(cat['Biometria'].unique())

['Biometria validada']

In [26]:
cat[cat['Status'].str.find('Cancelada') == -1].shape[0]

8

In [27]:
cat.head(5)

,Instrutor,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,comeco_aula,final_aula,tempo_aula,n_aula
49,MARILEI TELES DA SILVA,EDER RODRIGUES,A,QIO-1623,1,11756,11757.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 15:21:00,2020-06-03 17:01:00,01:40:00,2.0
50,MARILEI TELES DA SILVA,JUCIMAR BALDESSAR,A,QIO-1663,4,9987,9991.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 15:24:00,2020-06-03 16:14:00,00:50:00,1.0
52,MARILEI TELES DA SILVA,RODRIGO GAIO,A,QIO-1663,0,9991,9991.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 16:37:00,2020-06-03 17:27:00,00:50:00,1.0
145,MARILEI TELES DA SILVA,JACKSON MAIA DA SILVA,A,QIO-1623,1,11817,11818.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-10 08:51:00,2020-06-10 10:31:00,01:40:00,2.0
272,MARILEI TELES DA SILVA,CISSA EMMA PIASSESKI,A,QIO-1623,4,11962,11966.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-18 14:32:00,2020-06-18 16:12:00,01:40:00,2.0

In [28]:
cat['d_begin'] = (cat['comeco_aula'] - cat['comeco_aula'].shift(1)).astype('timedelta64[m]')
cat['d_end'] = (cat['final_aula'] - cat['final_aula'].shift(1)).astype('timedelta64[m]')
cat['d_end_s2'] = (cat['final_aula'] - cat['final_aula'].shift(2)).astype('timedelta64[m]')

In [34]:
cat['test'] = ((cat['d_begin'] < 15) | (cat['d_end'] < 15) | (cat['d_end_s2'] < 40))

In [35]:
cat['test_2'] = ((cat['d_end'] - cat['d_begin'] == 0) & (cat['n_aula'] == 2.0) & (cat['d_begin'] < 60))

In [36]:
cat

,Instrutor,Aluno,Categoria,Veículo,KM,KM Inicial,KM Final,Biometria,Status,comeco_aula,final_aula,tempo_aula,n_aula,d_begin,d_end,d_end_s2,test,test_2
49,MARILEI TELES DA SILVA,EDER RODRIGUES,A,QIO-1623,1,11756,11757.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 15:21:00,2020-06-03 17:01:00,01:40:00,2.0,NaN,NaN,NaN,False,False
50,MARILEI TELES DA SILVA,JUCIMAR BALDESSAR,A,QIO-1663,4,9987,9991.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 15:24:00,2020-06-03 16:14:00,00:50:00,1.0,3.0,-47.0,NaN,True,False
52,MARILEI TELES DA SILVA,RODRIGO GAIO,A,QIO-1663,0,9991,9991.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-03 16:37:00,2020-06-03 17:27:00,00:50:00,1.0,73.0,73.0,26.0,True,False
145,MARILEI TELES DA SILVA,JACKSON MAIA DA SILVA,A,QIO-1623,1,11817,11818.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-10 08:51:00,2020-06-10 10:31:00,01:40:00,2.0,9614.0,9664.0,9737.0,False,False
272,MARILEI TELES DA SILVA,CISSA EMMA PIASSESKI,A,QIO-1623,4,11962,11966.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-18 14:32:00,2020-06-18 16:12:00,01:40:00,2.0,11861.0,11861.0,21525.0,False,False
274,MARILEI TELES DA SILVA,ARY JUNIOR RAMILHO GOMES RODRIGUES,A,QIO-1663,7,10179,10186.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-18 15:13:00,2020-06-18 16:03:00,00:50:00,1.0,41.0,-9.0,11852.0,True,False
362,MARILEI TELES DA SILVA,KAMILE SIQUEIRA,A,QIO-1623,2,12025,12027.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-24 14:16:00,2020-06-24 15:06:00,00:50:00,1.0,8583.0,8583.0,8574.0,False,False
367,MARILEI TELES DA SILVA,CISSA EMMA PIASSESKI,A,QIO-1623,4,12027,12031.0,Biometria validada,Crédito da aula aceito pelo Detran,2020-06-24 17:03:00,2020-06-24 17:53:00,00:50:00,1.0,167.0,167.0,8750.0,False,False

In [37]:
aulas_s = cat['n_aula'].sum() - 2*(cat['n_aula'] * (cat['test'] | cat['test_2'])).sum()
aulas_s

5.0

In [38]:
aulas_s = 0
aulas_d = 0
for i in range(len(cat['n_aula'])):
    if (cat['test'].iloc[i] | cat['test_2'].iloc[i]) == False:
        aulas_s += cat['n_aula'].iloc[i]
    else:
        aulas_s -= cat['n_aula'].iloc[i]
        
    if cat['test'].iloc[i] == True:
        aulas_d += cat['n_aula'].iloc[i]
    
    if cat['test_2'].iloc[i] == True:
        aulas_d += cat['n_aula'].iloc[i] * 0.5
    
    
print(aulas_s)
print(aulas_d)

5.0
3.0